.jumbotron {
    min-height: 600px;
    padding-top: 100px;
    background-color: white;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.pricingJumbotron1 {
    background-image: url('../../pages/images/sunset.jpg');
    width: 1517px;
}

.col {
    height: 400px;
    padding-left: 50px;
    margin-left: 20px;
}

.homePage2 {
    min-height: 500px;
    background-color: white;
}

.homePage3 {
    min-height: 600px;
    background-color: white;
}

.jumboBox {
    width: 980px;
    height: 210px;
    position: absolute;
    top: 570px;
    left: 250px;
    z-index: 2;
    background-color: white;
}

.jumboh1 {
    font-size: 60px;
    text-align: center;
}

.jumbo2h1 {
    font-size: 40px;
    text-align: center;
}

.jumboP {
    text-align: center;
}

.jumboBox2 {
    width: 980px;
    height: 210px;
    position: absolute;
    top: 936px;
    left: 250px;
    z-index: 2;
    background-color: white;
}
